.option{
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
  border-bottom: 1px solid lighten($light-blue, 15%);
}
.option__text{
  font-size: $m-size;
  font-weight: 500;
  color: #ffffff;
  word-break: break-all;
}
